{% extends 'base.html' %}
{% block title %}
فرم پر کردن کار ها
{% endblock title %}
{% block style %}
    
#title-input, #id_description{
    direction: rtl;
}
    
{% endblock style %}

{% block body %}
{% if user.is_superuser %}
   <form  method="POST">
        {% csrf_token %}
        <div class="container p-3"> 
           <div class="row p-3 ">
                <div class="col-lg-9 mx-auto shadow-lg rounded bg-light p-3"> 
                    <div class="p-3">
                        <div class="text-end ">
                            <label class="form-label me-3 " for="title-input"> کار </label><br>
                            <input class="form-control  mb-3" type="text" id="title-input" name="title" required >
                        </div>

                        <dev class="mbt-3"> 
                          
                            <div class="form-check mt-2 ">
                                <input class="form-check-input" type="radio" name="status" value="today" id="id_status_0" checked required>
                                <label class="form-check-label" for="id_status_0">
                                    امروز
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="status" value="necessary" id="id_status_1" required>
                                <label class="form-check-label" for="id_status_1">
                                    ضروری
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="status" value="zremind" id="id_status_2" required>
                                <label class="form-check-label" for="id_status_2">
                                    یادآوری
                                </label>
                                <script>
                                        if (document.getElementById("id_status_2").checked == true){
                                            alert("hello");
                                            {% comment %} https://stackoverflow.com/questions/43050218/how-to-check-contents-of-input-in-real-time {% endcomment %}
                                        };
                                </script>
                                <input class="ms-3" type="datetime-local" name="remind_datetime" id="datetime_picker">
                            </div>
                        </dev>
                        <div class="text-end">
                            <label for="id_description" class="form-label mt-3"> توضیحات </label>
                            <textarea class="form-control " name="description" id="id_description" rows="3"></textarea> 
                        </div>

                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" value="ثبت" class="btn btn-primary m-3">
                        <a href="/" class="btn btn-primary mx-3"><i class="bx bx-arrow-back bx-sm"></i></a>
                    </div>
                </div>
            </dev>
        </div>
    </form>

{% else %}
    <h1> Your not register </h1>
{% endif %}
{% endblock body %}