{% extends 'base.html' %}

{% block title %}
    {{ people.name }} {{ people.family }}
{% endblock title %}

{% block style %}
    body{
        background-color: #404258;
    }
    .container{
        direction: rtl;
        background-color: #474E68;
    }
    button.bxs-edit{
        border: none;
        background: none;
        color: #11eeff;
    }
    
    .telegram{
        color: #2AABEE;
    }

    .whatsapp1{
        color: #25d366;
    }
{% endblock style %}
{% block body %}
    

    {% comment %} <div class="container overfloaw-hidden p-3"> {% endcomment %}
    <div class="container p-3 pt-3">
        <div class="row text-center p-3">
            <div class="col-md-6 p-3 bg-primary shadow rounded mx-auto ">
                <h3 class="bg-warning shadow-sm rounded text-dark p-2">  {{ people.name }} {{ people.family }}</h3>

                {% if people.field %}
                    <div class="bg-light rounded py-2 "> {{ people.field }} </div>
                {% elif not people.field %}
                        <div class="bg-danger position-relative  text-light shadow-sm rounded p-2 text-center" id="field"> رشته ثبت نشده
                            <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" type="button" id="edit-button-field" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                        </div>
                {% endif %}

                {% if people.university %}
                        <div class="bg-dark text-light rounded py-2 ">   {{ people.university }} </div> 
                {% elif not people.university %}
                        <div class="bg-danger position-relative rounded  p-2 text-center text-light" id="university"> دانشگاه ثبت نشده  
                            <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-university" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                        </div>
                {% endif %}
            </div>
        </div>

        <div class="row p-3 g-4">
            <div class="col-md-6 p-3 rounded-5 position-relative bg-dark">
                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary fs-4 "> 
                         مالی
                    </span>
                    <span class="position-absolute top-0 end-50 translate-middle me-2 badge rounded-pill bg-info fs-6 text-dark"> 
                       {{ people.money }} 
                    </span>
                    
                <div class="row p-3 text-center ">

                    <div class="col">
                        
                        {% if people.debt_payment1 %}
                            <a class="btn position-relative btn-warning position-relative m-3" href="/media/{{ people.debt_payment1 }}"> پرداخت 1 
                                <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-first" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                            </a>
                        {% else %}
                            <div class="text-wrap position-relative text-light bg-danger rounded shadow-sm p-2"> قسط اول ثبت نشده 
                                <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-first" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                            </div>
                        {% endif %}
                    </div>


                    <div class="col">
                        {% if people.debt_payment2 %}
                                <a class="position-relative btn btn-warning m-3" href="/media/{{ people.debt_payment2 }}">پرداخت 2 
                                    <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-second" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                </a>
                            {% else %}
                                <div class="text-wrap  position-relative text-light bg-danger rounded shadow-sm p-2"> قسط دوم ثبت نشده 
                                    <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-second" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                </div>
                        {% endif %}
                    </div>

                    <div class="col">
                        {% if people.debt_payment3 %}
                                <a class="btn position-relative btn-warning position-relative m-3" href="/media/{{ people.debt_payment3 }}"> پرداخت 3 
                                    <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-third" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                </a>
                            {% else %}
                                <div class="text-wrap bg-danger position-relative rounded text-light rounded shadow-sm p-2"> قسط سوم ثبت نشده 
                                    <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-third" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                </div>
                        {% endif %}
                    </div>

                </div>

            </div>

            <div class="col-md-6 p-3 rounded-5 position-relative bg-dark shadow">
                    <span class="position-absolute ps-4 top-0 start-50 translate-middle badge rounded-pill bg-secondary fs-4 "> 
                        پایان نامه
                    </span>
                    {% if people.title %}
                        <span class="position-absolute ms-5 top-0 px-2 mx-3 text-wrap end-50 translate-middle badge rounded-pill bg-info fs-6 text-dark"> 
                            {{ people.title }}
                            <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-title" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                        </span>
                    {% else %}
                        <span class="position-absolute ms-5 top-0 end-50 translate-middle badge text-wrap rounded-pill bg-danger fs-6 text-light"> 
                            عنوان ثبت نشده
                            <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-title" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                        </span>
                    {% endif %}
                    <div class="row p-3 text-center">
                        <div class="col">
                            {% if people.proposal %}
                                    <a class="btn position-relative btn-warning m-3" href="/media/{{ people.proposal }}"> پروپزال 
                                        <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-proposal" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                    </a>
                                {% else %}
                                    <div class="text-wrap position-relative bg-danger rounded text-light rounded shadow-sm p-2"> پروپزال ثبت نشده 
                                        <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-proposal" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                    </div>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if people.ch123 %}
                                    <a class="btn position-relative btn-warning m-3" href="/media/{{ people.ch123 }}"> فصل 1 تا 3 
                                        <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-ott" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                    </a>
                                {% else %}
                                    <div class="text-wrap position-relative bg-danger rounded text-light rounded shadow-sm p-2"> فصل 1 تا 3 ثبت نشده 
                                        <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-ott" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                    </div>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if people.ch45 %}
                                    <a class="btn btn-warning m-3 position-relative" href="/media/{{ people.ch45}}"> فصل 4 و 5 
                                        <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-ff" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                    </a>
                                {% else %}
                                    <div class="text-wrap position-relative bg-danger rounded text-light rounded shadow-sm p-2"> فصل 4 و 5 ثبت نشده 
                                            <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-ff" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                        </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mx-2 g-3">
                <div class="col-md-6 p-3 rounded-5 position-relative bg-dark shadow">
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary fs-4 "> 
                            اساتید
                        </span>
                        <div class="row p-3 text-center g-2">
                            <div class="col p-2">
                                {% if people.doctor_adviser %}
                                        <div class="text-wrap position-relative bg-warning rounded text-dark rounded shadow-sm p-2"> {{ people.doctor_adviser }} 
                                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary">
                                               استاد راهنما 
                                            </span>
                                            <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-doctor-adviser" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                        </div>
                                    {% else %}
                                        <div class="text-wrap position-relative bg-danger rounded text-light rounded shadow-sm p-2"> استاد راهنمایی ثبت نشده
                                            <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-doctor-adviser" data-bs-toggle="modal" data-bs-target="#mymodal"></button>                                        </div>
                                {% endif %}
                            </div>
                            <div class="col p-2">
                                {% if people.RAC %}
                                        <div class="text-wrap position-relative bg-warning rounded text-dark rounded shadow-sm p-2"> {{ people.RAC }} 
                                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary">
                                               کد رهگیری پژوهشیار 
                                            </span>
                                                <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-rac" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                        </div>
                                    {% else %}
                                        <div class="text-wrap position-relative bg-danger rounded text-light rounded shadow-sm p-2"> کد رهگیری پژوهشیار ثبت نشده 
                                            <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0" id="edit-button-rac" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                        </div>
                                {% endif %}
                            </div>
                            {% comment %} <div class="col">
                                {% if people.title %}
                                        <div class="text-wrap bg-warning position-relative rounded text-dark rounded shadow-sm p-2"> {{ people.title }} 
                                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary">
                                                عنوان 
                                            </span>
                                        </div>
                                    {% else %}
                                        <div class="text-wrap bg-danger rounded text-light rounded shadow-sm p-2"> عنوان ثبت نشده </div>
                                {% endif %}
                            </div> {% endcomment %}
                            <div class="col p-2">
                                {% if people.representative %}
                                        <div class="text-wrap bg-warning position-relative rounded text-dark rounded shadow-sm p-2"> {{ people.representative }}
                                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary">
                                               معرف
                                            </span>
                                                <button class="bx bxs-edit bx-sm  position-absolute translate-middle top-100 start-0" id="edit-button-representative" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                        </div>
                                    {% else %}
                                        <div class="text-wrap position-relative bg-danger rounded text-light rounded shadow-sm p-2"> معرف ثبت نشده 
                                            <button class="bx bxs-edit bx-sm translate-middle position-absolute top-100 start-0 " id="edit-button-representative" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                                        </div>
                                {% endif %}
                            </div>

                        </div>
                </div>
                <div class="col-md-6 p-3 rounded-5  position-relative  bg-dark shadow">
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary fs-4 "> 
                            توضیحات
                        </span>
                                {% if people.description %}
                                        <div class="text-wrap text-light position-relative rounded shadow-sm p-2"> {{ people.description }}
                                        </div>
                                    {% else %}
                                        <div class="text-wrap position-relative bg-danger rounded text-light rounded shadow-sm p-2"> توضیحات ثبت نشده 
                                        </div>
                                {% endif %}
                            <button class="bx bxs-edit bx-sm position-absolute translate-middle top-100 start-0" id="edit-button-description" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
                </div>
        </div>


            <div class="p-3">
                {% if user.is_superuser %}
                    <a href="/" class="btn btn-primary"><i class="bx bx-arrow-back bx-sm"></i></a>
                {% endif %}
                <a class="btn text-center whatsapp1 float-start" role="button" action="share/whatsapp/share" href="whatsapp://send?text={{request.build_absolute_uri}}"><i class="bx bxl-whatsapp bx-sm" ></i></a>
                <a class="btn text-center telegram float-start" role="button"  href="tg://msg?text={{request.build_absolute_uri}}"><i class='bx bxl-telegram' ></i></a>
            </div>
    </div>

<div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-h"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="mb-3">
            <label for="text-input" class="col-form-label" id="label-text"></label>
            <input type="text" class="form-control" id="text-input">
          </div>
          <div class="mb-3">
            <label for="file-input" class="col-form-label" id="label-file"></label>
            <input class="form-control" id="file-input" type="file"></input>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> بستن </button>
        {% comment %} <button type="submit" class="btn btn-primary" > تایید </button> {% endcomment %}
        <input type="submit" value="submit" class="btn btn-primary">
        <input type="hidden" name="type" id="input-hidden">
      </div>
        </form>
    </div>
  </div>
</div>
<script>
    const input_hidden = document.getElementById("input-hidden");
</script>
<script>
    
    if (document.getElementById("edit-button-field"))
    {
        document.getElementById("edit-button-field").addEventListener("click", function() {
            document.getElementById("label-text").style.display = "block";
            document.getElementById("label-text").innerHTML = "رشته";
            document.getElementById("text-input").style.display = "block";
            document.getElementById("text-input").name = "field";
            input_hidden.value = "field";
            document.getElementById("label-file").style.display = "none";
            document.getElementById("file-input").style.display = "none";
        });
    }
</script>
<script>
    if (document.getElementById("edit-button-university"))
    {
        document.getElementById("edit-button-university").addEventListener("click", function() {
            document.getElementById("label-text").style.display = "block";
            document.getElementById("label-text").innerHTML = "دانشگاه";
            document.getElementById("text-input").style.display = "block";
            document.getElementById("text-input").name = "university";
            input_hidden.value = "university";
            document.getElementById("label-file").style.display = "none";
            document.getElementById("file-input").style.display = "none";
        });
    }
</script>
<script>
    if (document.getElementById("edit-button-first"))
    {
        document.getElementById("edit-button-first").addEventListener("click", function() {
            document.getElementById("label-file").style.display = "block";
            document.getElementById("label-file").innerHTML = "قسط اول";
            document.getElementById("file-input").style.display = "block";
            document.getElementById("file-input").name = "debt_payment1";
            input_hidden.value = "debt_payment1";
            document.getElementById("label-text").style.display = "none";
            document.getElementById("text-input").style.display = "none";
        });
    }
</script>

<script>
    if (document.getElementById("edit-button-second"))
    {
        document.getElementById("edit-button-second").addEventListener("click", function() {
            document.getElementById("label-file").style.display = "block";
            document.getElementById("label-file").innerHTML = "قسط دوم";
            document.getElementById("file-input").style.display = "block";
            document.getElementById("file-input").name = "debt_payment2";
            input_hidden.value = "debt_payment2";
            document.getElementById("label-text").style.display = "none";
            document.getElementById("text-input").style.display = "none";
        });
    }
</script>
<script>
    if(document.getElementById("edit-button-third"))
    {
        document.getElementById("edit-button-third").addEventListener("click", function() {
            document.getElementById("label-file").style.display = "block";
            document.getElementById("label-file").innerHTML = "قسط سوم";
            document.getElementById("file-input").style.display = "block";
            document.getElementById("file-input").name = "debt_payment3";
            input_hidden.value = "debt_payment3";
            document.getElementById("label-text").style.display = "none";
            document.getElementById("text-input").style.display = "none";
        });
    }
</script>
<script>
    if (document.getElementById("edit-button-proposal"))
    {
        document.getElementById("edit-button-proposal").addEventListener("click", function() {
            document.getElementById("label-file").style.display = "block";
            document.getElementById("label-file").innerHTML = "پروپزال";
            document.getElementById("file-input").style.display = "block";
            document.getElementById("file-input").name = "proposal";
            input_hidden.value = "proposal";
            document.getElementById("label-text").style.display = "none";
            document.getElementById("text-input").style.display = "none";
        });
    }
</script>
<script>
    if (document.getElementById("edit-button-ott"))
    {
        document.getElementById("edit-button-ott").addEventListener("click", function() {
            document.getElementById("label-file").style.display = "block";
            document.getElementById("label-file").innerHTML = "فصل 1 تا 3";
            document.getElementById("file-input").style.display = "block";
            document.getElementById("file-input").name = "ch123";
            input_hidden.value = "ch123";
            document.getElementById("label-text").style.display = "none";
            document.getElementById("text-input").style.display = "none";
        });
    }
</script>
<script>
    if (document.getElementById("edit-button-ff"))
    {
        document.getElementById("edit-button-ff").addEventListener("click", function() {
            document.getElementById("label-file").style.display = "block";
            document.getElementById("label-file").innerHTML = "فصل 4 و 5";
            document.getElementById("file-input").style.display = "block";
            document.getElementById("file-input").name = "ch45";
            input_hidden.value = "ch45";
            document.getElementById("label-text").style.display = "none";
            document.getElementById("text-input").style.display = "none";
        });
    }
    </script>
    <script>
        if (document.getElementById("edit-button-representative"))
        {
            document.getElementById("edit-button-representative").addEventListener("click", function() {
                document.getElementById("label-text").style.display = "block";
                document.getElementById("label-text").innerHTML = "معرف";
                document.getElementById("text-input").style.display = "block";
                document.getElementById("text-input").name = "representative";
                input_hidden.value = "representative";
                document.getElementById("label-file").style.display = "none";
                document.getElementById("file-input").style.display = "none";
            
            });
        }
</script>
<script>
    if (document.getElementById("edit-button-rac"))
    {
        document.getElementById("edit-button-rac").addEventListener("click", function() {
            document.getElementById("label-text").style.display = "block";
            document.getElementById("label-text").innerHTML = "کد رهگیری پژوهشیار";
            document.getElementById("text-input").style.display = "block";
            document.getElementById("text-input").name = "rac";
            input_hidden.value = "rac";
            document.getElementById("label-file").style.display = "none";
            document.getElementById("file-input").style.display = "none";
        });
    }
</script>
<script>
    if (document.getElementById("edit-button-doctor-adviser"))
    {
        document.getElementById("edit-button-doctor-adviser").addEventListener("click", function() {
                document.getElementById("label-text").style.display = "block";
                document.getElementById("label-text").innerHTML = "استاد راهنما";
                document.getElementById("text-input").style.display = "block";
                document.getElementById("text-input").name = "doctor_adviser";
                input_hidden.value = "doctor_adviser";
                document.getElementById("label-file").style.display = "none";
                document.getElementById("file-input").style.display = "none";
        });
    }    
</script>
<script>
    if (document.getElementById("edit-button-title"))
    {
        document.getElementById("edit-button-title").addEventListener("click", function() {
                document.getElementById("label-text").style.display = "block";
                document.getElementById("label-text").innerHTML = "عنوان";
                document.getElementById("text-input").style.display = "block";
                document.getElementById("text-input").name = "title";
                input_hidden.value = "title";
                document.getElementById("label-file").style.display = "none";
                document.getElementById("file-input").style.display = "none";
        });
    }    
</script>

{% endblock body %}