{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block style %}

    .trash-icon-button{
        border: none;
        background: none;
    }

    .trash-icon{
        color: #be4d25;
        cursor: pointer;
    }

    .row-bg-color{
        background-color: #DEF5E5;
    }

    .list-group-item {
        direction: rtl;
    }

    .list-group{
        max-height: 10rem;
    }

{% endblock style %}

{% block body %}
{% if user.is_superuser %}
    <div class="container content-row px-3">
        <div class="row p-3 row-bg-color">
            <div class="col-md-4 p-3">
                <h3 class="text-center"> ضروری </h3>
                <div class="card  overflow-auto">
                    <ol class="list-group text-bg-primary list-group-numbered" >
                        <form method="POST" id="necessary-form">
                            {% csrf_token %}
                            {% for necessary in necessaries %}
                                <div class="list-group-item  list-group-item-action">{{ forloop.counter }}.{{ necessary }} 
                                    <input class="form-check-input float-start shadow-sm rounded bg-info checkbox-nec" type="checkbox" name="todo" value="{{ necessary.pk }}">
                                    <button class="px-2 py-1 bx bxs-trash bx-tada-hover trash-icon-button trash-icon trash-icon-nec float-start" name="delete" value="{{ necessary.pk }}"></button>
                                </div>
                        {% endfor %}
                            </form>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <h3 class="text-center"> امروز </h3>
                <div class="card overflow-auto">
                    <ol class="list-group list-group-numbered">
                        <form method="POST" id="today-form">
                            {% csrf_token %}
                            {% for today in todaies %}
                                <div class="list-group-item  list-group-item-action  "> {{ forloop.counter }}.{{ today }} 
                                    <input class="form-check-input float-start shadow-sm rounded bg-info checkbox-today" type="checkbox" name="todo" value="{{ today.pk }}">
                                    <button class="px-2 py-1 bx bxs-trash bx-tada-hover trash-icon-button trash-icon trash-icon-today float-start" name="delete" value="{{ today.pk }}"></button>
                                </div>
                            {% endfor %}
                        </form>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <h3 class="text-center"> یادآوری </h3>
                <div class="card overflow-auto">
                    <ol class="list-group list-group-numbered">
                        <form method="POST" id="remind-form">
                            {% csrf_token %}
                            {% for remind in reminds %}
                                <div class="list-group-item list-group-item-action">{{ forloop.counter }}.{{ remind }} 
                                    <input class="form-check-input float-start shadow-sm rounded bg-info checkbox-remind" type="checkbox" name="todo" value="{{remind.pk}}">
                                    <button class="px-2 py-1 bx bxs-trash bx-tada-hover trash-icon-button trash-icon trash-icon-remind float-start" name="delete" value="{{ remind.pk }}"></button>
                                </div>
                            {% endfor %}
                        </form>
                    </ol>
                </div>
            </div>
                        <div class="text-center p-2"> 
                            <a class="btn btn-primary text-center" href="/add-todo/" role="button"><i class="bx bx-plus bx-sm"></i></a> 
                            <a class="btn btn-primary text-center" href="/" role="button"><i class="bx bx-arrow-back bx-sm"></i></a> 
                        </div>
        </div>
    </div>
    <script>
        const formNec = document.getElementById("necessary-form");
        const formTod = document.getElementById("today-form");
        const formRemind = document.getElementById("remind-form");
        const trashNec = document.getElementsByClassName("trash-icon-nec");
        const trashToday = document.getElementsByClassName("trash-icon-today");
        const trashRemind = document.getElementsByClassName("trash-icon-remind");
        const checkboxNec = document.getElementsByClassName("checkbox-nec");
        const checkboxToday = document.getElementsByClassName("checkbox-today");
        const checkboxRemind = document.getElementsByClassName("checkbox-remind");
    </script>
    <script>
        for (var i = 0; i < trashNec.length; i++){
            trashNec[i].addEventListener("click", function(){
                if (window.confirm("برای حذف مطمئن هستید؟")){formNec.submit();}
            });
        }
    </script>
    <script>
        for (var i = 0; i < trashToday.length; i++){
            trashToday[i].addEventListener("click", function(){
                if (window.confirm("برای حذف مطمئن هستید؟")){formTod.submit();}
            });
        }
    </script>
    <script>
        for (var i = 0; i < trashRemind.length; i++){
            trashRemind[i].addEventListener("click", function(){
                if (window.confirm("برای حذف مطمئن هستید؟")){formRemind.submit();}
            });
        }
    </script>
    <script> 
        for (var i = 0; i < checkboxNec.length; i++)
            checkboxNec[i].addEventListener("click", function(){
                formNec.submit();

            });
        </script>
    <script> 
        for (var i = 0; i < checkboxToday.length; i++)
            checkboxToday[i].addEventListener("click", function(){
                formToday.submit();

            });
        </script>
    <script> 
        for (var i = 0; i < checkboxRemind.length; i++)
            checkboxRemind[i].addEventListener("click", function(){
                formRemind.submit();

            });
        </script>
{% else %}
        <h1> Your not register </h1>
{% endif %}
{% endblock body %}